<section class="section about-the-game-section" id="about-the-game">
  <div class="container">
    <h2 class="about-the-game-title">About the Game</h2>
    <h3 class="about-the-game-sub-title">A New Kind of Matching Adventure</h3>
    <p class="about-the-game-text">
      Match & Merge is more than just another puzzle. It’s a full-fledged 3D
      matching and merging journey where every object, merge, and level is part
      of a bigger story. Clear match boards, collect chests, and unlock
      mergeable items to rebuild the farm and solve a bizarre family mystery!
    </p>

    <ul class="about-the-game-list">
      <li>
        <div class="about-the-game-item-wrapper">
          <div class="about-the-game-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-brain"></use>
            </svg>
          </div>
          <p class="about-the-game-item-text">
            Great for puzzle lovers and merge fans
          </p>
        </div>
      </li>
      <li>
        <div class="about-the-game-item-wrapper">
          <div class="about-the-game-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-grass"></use>
            </svg>
          </div>
          <p class="about-the-game-item-text">
            Set on a whimsical countryside farm
          </p>
        </div>
      </li>
      <li>
        <div class="about-the-game-item-wrapper">
          <div class="about-the-game-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-garden-cart"></use>
            </svg>
          </div>
          <p class="about-the-game-item-text">
            Filled with mini-games, characters & merge trees
          </p>
        </div>
      </li>
    </ul>

    <div class="about-the-game-swip-wrapper about-the-game-swiper-one">
      <ul class="about-the-game-list-image swiper-wrapper">
        <li class="about-the-game-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/desktop/photo-1-about-desktop.png    1x,
                ./img/about-the-game/desktop/photo-1-about-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/about-the-game/photo-1-about.png    1x,
                ./img/about-the-game/photo-1-about-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="about-the-game-image"
              src="/img/about-the-game/photo-1-about.png"
              alt="image-game"
              width="360"
              height="193"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="about-the-game-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/desktop/photo-2-about-desktop.png    1x,
                ./img/about-the-game/desktop/photo-2-about-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/about-the-game/photo-2-about.png    1x,
                ./img/about-the-game/photo-2-about-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="about-the-game-image"
              src="/img/about-the-game/photo-2-about.png"
              alt="image-game"
              width="360"
              height="193"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="about-the-game-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/desktop/photo-3-about-desktop.png    1x,
                ./img/about-the-game/desktop/photo-3-about-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/about-the-game/photo-3-about.png    1x,
                ./img/about-the-game/photo-3-about-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="about-the-game-image"
              src="/img/about-the-game/photo-3-about.png"
              alt="image-game"
              width="360"
              height="193"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <div class="about-the-game-swiper-pagination"></div>
    </div>
  </div>
</section>
