<section class="section" id="characters">
  <div class="container characters-wrapper">
    <div class="characters-gnome-image"></div>
    <h2 class="characters-title">Characters</h2>
    <h3 class="characters-subtitle">Meet the Match-Makers of the Farm</h3>

    <div class="characters-swip-wrapper characters-swiper-one">
      <ul class="characters-list-image swiper-wrapper">
        <li class="characters-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/characters/desktop/characters-1-desktop.png    1x,
                ./img/characters/desktop/characters-1-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/characters/characters-1.png    1x,
                ./img/characters/characters-1-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="characters-image"
              src="/img/characters/characters-1.png"
              alt="image-game"
              width="328"
              height="218"
              loading="lazy"
            />
          </picture>

          <h3 class="characters-cardtitle">Audrey</h3>
          <p class="characters-card-text">
            Our fearless (and slightly overwhelmed) protagonist
          </p>
        </li>
        <li class="characters-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/characters/desktop/characters-2-desktop.png    1x,
                ./img/characters/desktop/characters-2-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/characters/characters-2.png    1x,
                ./img/characters/characters-2-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="characters-image"
              src="/img/characters/characters-2.png"
              alt="image-game"
              width="328"
              height="218"
              loading="lazy"
            />
          </picture>

          <h3 class="characters-cardtitle">Pa</h3>
          <p class="characters-card-text">
            Thinks he's a chicken. Clucks. Builds houses with corn
          </p>
        </li>
        <li class="characters-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/characters/desktop/characters-3-desktop.png    1x,
                ./img/characters/desktop/characters-3-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/characters/characters-3.png    1x,
                ./img/characters/characters-3-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="characters-image"
              src="/img/characters/characters-3.png"
              alt="image-game"
              width="328"
              height="218"
              loading="lazy"
            />
          </picture>

          <h3 class="characters-cardtitle">Roo the Rooster</h3>
          <p class="characters-card-text">
            Leads the chicken strike and negotiates for snacks
          </p>
        </li>
        <li class="characters-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/characters/desktop/characters-4-desktop.png    1x,
                ./img/characters/desktop/characters-4-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/characters/characters-4.png    1x,
                ./img/characters/characters-4-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="characters-image"
              src="/img/characters/characters-4.png"
              alt="image-game"
              width="328"
              height="218"
              loading="lazy"
            />
          </picture>

          <h3 class="characters-cardtitle">Milly the Mail Goat</h3>
          <p class="characters-card-text">Delivers story quests with sass</p>
        </li>
        <li class="characters-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/characters/desktop/characters-5-desktop.png    1x,
                ./img/characters/desktop/characters-5-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/characters/characters-5.png    1x,
                ./img/characters/characters-5-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="characters-image"
              src="/img/characters/characters-5.png"
              alt="image-game"
              width="328"
              height="218"
              loading="lazy"
            />
          </picture>

          <h3 class="characters-cardtitle">The Gnomes</h3>
          <p class="characters-card-text">Silent... too silent</p>
        </li>
      </ul>
      <div class="characters-swiper-pagination"></div>

      <div class="characters-swiper-navigation">
        <button
          class="characters-swiper-prev characters-swiper-navigation-btn"
          aria-label="Previous slide"
        >
          <svg class="characters-icon icon-arrow-left" width="30" height="30">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="characters-swiper-next characters-swiper-navigation-btn"
          aria-label="Next slide"
        >
          <svg class="characters-icon icon-arrow-right" width="30" height="30">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
