<section class="section contacts-and-support-section">
  <div class="contacts-and-support-container">
    <div class="container contacts-and-support-second-container">
      <h2 class="contacts-and-support-title">Contact & Support</h2>
      <p class="contacts-and-support-text">
        Have questions, feedback, or just want to tell us what Pa did next?
      </p>
      <ul class="contacts-and-support-list-support">
        <li>
          <div class="contacts-and-support-item-wrapper">
            <div class="contacts-and-support-icon-wrapper">
              <svg
                class="contacts-and-support-social-link-icon"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-mail"></use>
              </svg>
            </div>
            <a href="mailto:info@turboemeraldmatch.com">
              <p class="contacts-and-support-item-text">
                <span class="span-link-email">Email: </span
                >info@turboemeraldmatch.com
              </p>
            </a>
          </div>
        </li>
        <li>
          <div class="contacts-and-support-item-wrapper">
            <div class="contacts-and-support-icon-wrapper">
              <svg
                class="contacts-and-support-social-link-icon"
                width="24"
                height="24"
              >
                <use href="/img/sprite.svg#icon-clock"></use>
              </svg>
            </div>
            <p class="contacts-and-support-item-text">
              Support Hours: Mon–Fri,<br class="br-support-hours" />
              9:00 AM – 6:00 PM GMT
            </p>
          </div>
        </li>
      </ul>
      <p class="contacts-and-support-social-text">Follow us:</p>
      <ul class="contacts-and-support-social-link-list">
        <li class="contacts-and-support-social-link-item">
          <a href="https://x.com/" target="_blank">
            <svg
              class="contacts-and-support-social-link-icon"
              width="40"
              height="40"
            >
              <use href="/img/sprite.svg#icon-twitter-x"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-and-support-social-link-item">
          <a href="https://www.facebook.com/" target="_blank">
            <svg
              class="contacts-and-support-social-link-icon"
              width="40"
              height="40"
            >
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-and-support-social-link-item">
          <a href="https://www.instagram.com/" target="_blank">
            <svg
              class="contacts-and-support-social-link-icon"
              width="40"
              height="40"
            >
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
