<section class="section contacts-and-support-section" id="contact-and-support">
  <div class="contacts-and-support-container">
    <div class="container contacts-and-support-second-container">
      <h2 class="contacts-and-support-title">Contact & Support</h2>
      <p class="contacts-and-support-text">
        Have questions, feedback, or just want to tell us what Pa did next?
      </p>
      <ul class="contacts-and-support-list-support">
        <li class="contacts-and-support-item-wrapper">
          <svg
            class="contacts-and-support-social-item-icon"
            width="24"
            height="24"
          >
            <use href="/img/sprite.svg#icon-mail"></use>
          </svg>

          <p class="contacts-and-support-item-text item-email-text">Email:</p>

          <a
            class="contacts-and-support-link"
            href="mailto:info@turboemeraldmatch.com"
          >
            info@turboemeraldmatch.com
          </a>
        </li>
        <li class="contacts-and-support-item-wrapper">
          <svg
            class="contacts-and-support-social-item-icon"
            width="24"
            height="24"
          >
            <use href="/img/sprite.svg#icon-clock"></use>
          </svg>

          <p class="contacts-and-support-item-text">
            Support Hours: Mon–Fri,
            <br class="contacts-and-support-br-support-hours" />
            9:00 AM – 6:00 PM GMT
          </p>
        </li>
      </ul>

      <p class="contacts-and-support-social-text">Follow us:</p>

      <ul class="contacts-and-support-social-link-list">
        <li class="contacts-and-support-social-link-item">
          <a
            class="contacts-and-support-social-link"
            href="https://x.com/"
            target="_blank"
          >
            <svg
              class="contacts-and-support-social-link-icon"
              width="36"
              height="36"
            >
              <use href="/img/sprite.svg#icon-twitter-x"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-and-support-social-link-item">
          <a
            class="contacts-and-support-social-link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg
              class="contacts-and-support-social-link-icon"
              width="36"
              height="36"
            >
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contacts-and-support-social-link-item">
          <a
            class="contacts-and-support-social-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg
              class="contacts-and-support-social-link-icon"
              width="36"
              height="36"
            >
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
