<section class="download-now-section section" id="download-now">
  <div class="download-now-container container">
    <h2 class="download-now-title">Download Now</h2>
    <h3 class="download-now-sub-title">Ready to Match, Merge & Laugh?</h3>

    <p class="download-now-text">
      Join thousands of players already lost in the puzzle-farm hilarity of
      Match & Merge.Clear the junk, unlock treasures, and fix the farm — one
      merge at a time.
    </p>

    <div class="download-now-bg-img-wrapper"></div>

    <a
      class="download-now-google-play-link"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.slotslimited.triplematchandmerge.android&hl=en&gl=us"
    >
      <img
        class="download-now-link-img"
        src="/img/hero/logos_google-play-icon.png"
        alt="google-play-icon"
        width="28"
        height="31"
        loading="lazy"
      />
      Download Free –<br class="download-now-google-play-link-brake-line" />
      Play Now on Google Play
    </a>
  </div>
</section>
