<footer class="footer-section">
  <div class="container footer-container">
    <p class="footer-text">
      © 2025 turboemeraldmatch.com – All rights reserved
    </p>
    <ul class="footer-list">
      <li class="footer-item">
        <a href="privacy-policy.html" class="footer-link">Privacy Policy</a>
        <div class="right-border"></div>
      </li>
      <li class="footer-item">
        <a href="terms-and-conditions.html" class="footer-link">Terms of Use</a>
        <div class="right-border"></div>
      </li>
      <li class="footer-item">
        <a href="cookies-policy.html" class="footer-link">Cookies Policy</a>
      </li>
    </ul>
  </div>
</footer>
