<footer class="footer-section">
  <div class="footer-container container">
    <p class="footer-text">
      © 2025 turboemeraldmatch.com – All rights reserved
    </p>
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="privacy-policy.html" data-footer-link>
          Privacy Policy
        </a>
        <div class="right-border"></div>
      </li>
      <li class="footer-item">
        <a
          class="footer-link"
          href="terms-and-conditions.html"
          data-footer-link
        >
          Terms of Use
        </a>
        <div class="right-border"></div>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="cookies-policy.html" data-footer-link>
          Cookies Policy
        </a>
      </li>
    </ul>
  </div>
</footer>
