<section class="hero-section" id="hero">
  <div class="hero-container container">
    <h1 class="hero-main-title">Welcome to Match & Merge: 3D Games</h1>

    <a
      class="hero-google-play-link"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.slotslimited.triplematchandmerge.android&hl=en&gl=us"
    >
      <img
        class="hero-link-img"
        src="/img/hero/logos_google-play-icon.png"
        alt="google-play-icon"
        width="28"
        height="31"
        loading="lazy"
      />
      Download Free –<br class="hero-google-play-link-brake-line" />
      Play Now on Google Play
    </a>

    <div class="hero-order-wrapper">
      <h3 class="hero-sub-title">Relax. Match. Merge. Solve</h3>
      <p class="hero-text">
        Unwind with the most charming merge game of the year! Match & Merge
        offers endless offline gameplay, fully 3D match boards, hilarious
        storytelling, and zero ads to interrupt your cozy fun.
      </p>
      <ul class="hero-list-wrapper">
        <li>
          <div class="hero-item-wrapper">
            <div class="hero-icon-wrapper">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="hero-item-text">5,000+ Downloads</p>
          </div>
        </li>
        <li>
          <div class="hero-item-wrapper">
            <div class="hero-icon-wrapper">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="hero-item-text">Merge & Match to unlock surprises</p>
          </div>
        </li>
        <li>
          <div class="hero-item-wrapper">
            <div class="hero-icon-wrapper">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="hero-item-text">
              No internet required – 100% offline gameplay
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
