<section class="hero">
  <div class="container container-hero">
    <h1 class="main-title">Welcome to Match & Merge: 3D Games</h1>
    <a
      class="google-play-link"
      href="https://play.google.com/store/apps/details?id=com.slotslimited.triplematchandmerge.android&hl=en&gl=us"
    >
      <div class="link-wrapper">
        <img
          class="link-img"
          src="../img/hero/logos_google-play-icon.png"
          alt="google-play-icon"
          width="28"
          height="31"
        />
        <p class="link-text">Download Free – Play Now on Google Play</p>
      </div>
    </a>

    <div class="order-wrapper">
      <h2 class="sub-title">Relax. Match. Merge. Solve</h2>
      <p class="text">
        Unwind with the most charming merge game of the year! Match & Merge
        offers endless offline gameplay, fully 3D match boards, hilarious
        storytelling, and zero ads to interrupt your cozy fun.
      </p>
      <ul class="list-wrapper">
        <li>
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="item-text">5,000+ Downloads</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="item-text">Merge & Match to unlock surprises</p>
          </div>
        </li>
        <li>
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-discount-check"></use>
              </svg>
            </div>
            <p class="item-text">
              No internet required – 100% offline gameplay
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
