<section class="section" id="key-features">
  <div class="container key-features-wrapper">
    <div class="key-features-gnome-image"></div>
    <h2 class="key-features-title">Key Features</h2>
    <p class="key-features-text">Why You’ll Love Match & Merge</p>

    <div class="key-features-swip-wrapper key-features-swiper-one">
      <ul class="key-features-list-image swiper-wrapper">
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-1-desktop.png    1x,
                ./img/key-features/desktop/key-features-1-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-1.png    1x,
                ./img/key-features/key-features-1-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-1.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-2-desktop.png    1x,
                ./img/key-features/desktop/key-features-2-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-2.png    1x,
                ./img/key-features/key-features-2-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-2.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-3-desktop.png    1x,
                ./img/key-features/desktop/key-features-3-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-3.png    1x,
                ./img/key-features/key-features-3-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-3.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-4-desktop.png    1x,
                ./img/key-features/desktop/key-features-4-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-4.png    1x,
                ./img/key-features/key-features-4-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-4.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-5-desktop.png    1x,
                ./img/key-features/desktop/key-features-5-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-5.png    1x,
                ./img/key-features/key-features-5-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-5.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-6-desktop.png    1x,
                ./img/key-features/desktop/key-features-6-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-6.png    1x,
                ./img/key-features/key-features-6-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-6.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-7-desktop.png    1x,
                ./img/key-features/desktop/key-features-7-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-7.png    1x,
                ./img/key-features/key-features-7-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-7.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="key-features-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/key-features/desktop/key-features-8-desktop.png    1x,
                ./img/key-features/desktop/key-features-8-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/key-features/key-features-8.png    1x,
                ./img/key-features/key-features-8-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="key-features-image"
              src="/img/key-features/key-features-8.png"
              alt="image-game"
              width="288"
              height="381"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <!-- PAGINATION -->
      <div class="key-features-swiper-pagination"></div>
      <!-- NAVIGATION -->
      <div class="key-features-swiper-navigation">
        <button
          class="key-features-swiper-prev"
          aria-label="Previous slide"
          disabled
        >
          <div class="arrow-navigation">prev</div>
          <!-- <svg class="projects-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg> -->
        </button>
        <button class="key-features-swiper-next" aria-label="Next slide">
          <div class="arrow-navigation">next</div>
          <!-- <svg class="projects-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg> -->
        </button>
      </div>
    </div>
  </div>
</section>
