<section class="level-progression-section section" id="level-progression">
  <div class="level-progression-container container">
    <h2 class="level-progression-title">LevelProgression</h2>

    <h3 class="level-progression-sub-title">From Cluttered to Magical</h3>

    <div class="level-progression-swiper swiper">
      <ul class="level-progression-swiper-wrapper swiper-wrapper">
        <li class="level-progression-swiper-slide swiper-slide">
          <img
            class="level-progression-mobile-image"
            src="/img/level-progression/mobile/level-progression-mobile-1-1x.png"
            srcset="
              /img/level-progression/mobile/level-progression-mobile-1-1x.png 1x,
              /img/level-progression/mobile/level-progression-mobile-1-2x.png 2x
            "
            alt="level-progression-card-1"
            loading="lazy"
          />
        </li>
        <li class="level-progression-swiper-slide swiper-slide">
          <img
            class="level-progression-mobile-image"
            src="/img/level-progression/mobile/level-progression-mobile-2-1x.png"
            srcset="
              /img/level-progression/mobile/level-progression-mobile-2-1x.png 1x,
              /img/level-progression/mobile/level-progression-mobile-2-2x.png 2x
            "
            alt="level-progression-card-2"
            loading="lazy"
          />
        </li>
      </ul>

      <div class="level-progression-swiper-pagination swiper-pagination"></div>
    </div>

    <img
      class="level-progression-desktop-image"
      src="/img/level-progression/desktop/level-progression-desktop-1x.png"
      srcset="
        /img/level-progression/desktop/level-progression-desktop-1x.png 1x,
        /img/level-progression/desktop/level-progression-desktop-2x.png 2x
      "
      alt="level-progression-cards"
      loading="lazy"
    />
  </div>
</section>
