<section class="section">
  <div class="container">
    <h2 class="merge-rewards-title">Merge Rewards</h2>
    <p class="merge-rewards-text">
      Chests That Keep on Giving. Each cleared board rewards you with a
      mysterious chest. Inside:
    </p>

    <div class="merge-rewards-swip-wrapper merge-rewards-swiper-one">
      <ul class="merge-rewards-list-image swiper-wrapper">
        <li class="merge-rewards-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/merge-rewards/desktop/merge-rewards-3-desktop.png    1x,
                ./img/merge-rewards/desktop/merge-rewards-3-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/merge-rewards/merge-rewards-3.png    1x,
                ./img/merge-rewards/merge-rewards-3-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="merge-rewards-image"
              src="/img/merge-rewards/merge-rewards-3.png"
              alt="image-game"
              width="360"
              height="193"
            />
          </picture>

          <p class="merge-rewards-text-overlay">Mergeable crops</p>
        </li>
        <li class="merge-rewards-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/merge-rewards/desktop/merge-rewards-4-desktop.png    1x,
                ./img/merge-rewards/desktop/merge-rewards-4-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/merge-rewards/merge-rewards-4.png    1x,
                ./img/merge-rewards/merge-rewards-4-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="merge-rewards-image"
              src="/img/merge-rewards/merge-rewards-4.png"
              alt="image-game"
              width="360"
              height="193"
            />
          </picture>

          <p class="merge-rewards-text-overlay">Tools & fix-it parts</p>
        </li>
        <li class="merge-rewards-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/merge-rewards/desktop/merge-rewards-1-desktop.png    1x,
                ./img/merge-rewards/desktop/merge-rewards-1-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/merge-rewards/merge-rewards-1.png    1x,
                ./img/merge-rewards/merge-rewards-1-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="merge-rewards-image"
              src="/img/merge-rewards/merge-rewards-1.png"
              alt="image-game"
              width="360"
              height="193"
            />
          </picture>

          <p class="merge-rewards-text-overlay">Decoration piece</p>
        </li>
        <li class="merge-rewards-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/merge-rewards/desktop/merge-rewards-2-desktop.png    1x,
                ./img/merge-rewards/desktop/merge-rewards-2-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/merge-rewards/merge-rewards-2.png    1x,
                ./img/merge-rewards/merge-rewards-2-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="merge-rewards-image"
              src="/img/merge-rewards/merge-rewards-2.png"
              alt="image-game"
              width="360"
              height="193"
            />
          </picture>

          <p class="merge-rewards-text-overlay">Farm upgrade components</p>
        </li>
        <li class="merge-rewards-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/merge-rewards/desktop/merge-rewards-5-desktop.png    1x,
                ./img/merge-rewards/desktop/merge-rewards-5-desktop-x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/merge-rewards/merge-rewards-5.png    1x,
                ./img/merge-rewards/merge-rewards-5-x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
            />
            <img
              class="merge-rewards-image"
              src="/img/merge-rewards/merge-rewards-5.png"
              alt="image-game"
              width="360"
              height="193"
            />
          </picture>

          <p class="merge-rewards-text-overlay">Story clues & unique unlocks</p>
        </li>
      </ul>
      <div class="merge-rewards-swiper-pagination"></div>
    </div>

    <p class="merge-rewards-under-text">
      Merge items into legendary artifacts and unlock new zones!
    </p>
  </div>
</section>
