<div class="modal-cookies-policy" data-modalCookies data-modal-cookies-closed>
  <div class="modal-cookies-policy-container container">
    <div class="modal-cookies-policy-scroll-wrapper">
      <p class="modal-cookies-policy-title">Cookies Policy</p>

      <p class="modal-cookies-policy-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our
        <br class="modal-cookies-policy-text-brake-line" />
        use of cookies
      </p>

      <div class="modal-cookies-policy-btns-wrapper">
        <button
          class="modal-cookies-policy-btn btn-accept"
          data-modal-cookies-policy-btn
          data-modalCookiesAccept
        >
          ACCEPT COOKIES
        </button>

        <button
          class="modal-cookies-policy-btn btn-decline"
          data-modal-cookies-policy-btn
          data-modalCookiesDecline
        >
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</div>
