<div class="modal-menu" data-modalMenu data-modal-menu-closed>
  <div class="modal-menu-container container">
    <nav class="modal-menu-nav">
      <ul class="modal-menu-nav-list">
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#hero"
            data-modal-menu-navigation-link
          >
            Home
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#about-the-game"
            data-modal-menu-navigation-link
          >
            About
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#how-to-play"
            data-modal-menu-navigation-link
          >
            How to Play
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#key-features"
            data-modal-menu-navigation-link
          >
            Features
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#merge-rewards"
            data-modal-menu-navigation-link
          >
            Merge Rewards
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#storyline"
            data-modal-menu-navigation-link
          >
            The Story
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#characters"
            data-modal-menu-navigation-link
          >
            Characters
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#offline-experience"
            data-modal-menu-navigation-link
          >
            Offline Experience
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#level-progression"
            data-modal-menu-navigation-link
          >
            Levels
          </a>
        </li>
        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#player-testimonials"
            data-modal-menu-navigation-link
          >
            Testimonials
          </a>
        </li>

        <!-- ? -->
        <!-- <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#download-now"
            data-modal-menu-navigation-link
          >
            Download
          </a>
        </li> -->

        <li class="modal-menu-nav-item">
          <a
            class="modal-menu-nav-link"
            href="#contact-and-support"
            data-modal-menu-navigation-link
          >
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
