<section class="section" id="offline-experience">
  <div class="container offline-experience-container">
    <h2 class="offline-experience-title">Offline Experience</h2>

    <ul class="offline-experience-list">
      <li>
        <div class="offline-experience-item-wrapper">
          <div class="offline-experience-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-discount-check"></use>
            </svg>
          </div>
          <p class="offline-experience-item-text">Fully playable offline</p>
        </div>
      </li>
      <li>
        <div class="offline-experience-item-wrapper">
          <div class="offline-experience-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-wifi"></use>
            </svg>
          </div>
          <p class="offline-experience-item-text">
            No internet required for progress
          </p>
        </div>
      </li>
      <li>
        <div class="offline-experience-item-wrapper">
          <div class="offline-experience-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-bag"></use>
            </svg>
          </div>
          <p class="offline-experience-item-text">
            Save automatically after every level
          </p>
        </div>
      </li>
      <li>
        <div class="offline-experience-item-wrapper">
          <div class="offline-experience-icon-wrapper">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#icon-plane"></use>
            </svg>
          </div>
          <p class="offline-experience-item-text">
            Play during flights, trips, or cozy nights in
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
