<section class="section">
  <div class="container player-testimonials-wrapper">
    <div class="player-testimonials-gnome-image"></div>
    <h2 class="player-testimonials-title">Player Testimonials</h2>
    <h3 class="player-testimonials-subtitle">What Players Are Saying</h3>

    <div
      class="player-testimonials-swip-wrapper player-testimonials-swiper-one"
    >
      <ul class="player-testimonials-list swiper-wrapper">
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-1-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-1-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-1.png    1x,
                  ./img/player-testimonials/player-testimonials-1-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-1.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Jenna R., casual gamer, 32
            </p>
            <p class="player-testimonials-text">
              I didn’t expect to laugh this much playing a merge game. Pa’s
              chicken storyline is hilarious, and the puzzles are so satisfying
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-2-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-2-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-2.png    1x,
                  ./img/player-testimonials/player-testimonials-2-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-2.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Malik H., puzzle fan, 27
            </p>
            <p class="player-testimonials-text">
              I’ve played dozens of merge games, but this is the first one that
              doesn’t spam me with ads or force me online. It’s so refreshing
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-3-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-3-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-3.png    1x,
                  ./img/player-testimonials/player-testimonials-3-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-3.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Claire T., mom & gamer, 39
            </p>
            <p class="player-testimonials-text">
              My daughter and I both play Match & Merge and compare chests. The
              art is great, and the characters are unexpectedly funny
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-4-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-4-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-4.png    1x,
                  ./img/player-testimonials/player-testimonials-4-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-4.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Kevin J., comedy lover, 24
            </p>
            <p class="player-testimonials-text">
              Finally! A merge game with actual story and charm. I care about
              Audrey and the chicken strike way more than I should
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-5-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-5-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-5.png    1x,
                  ./img/player-testimonials/player-testimonials-5-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-5.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Anita S., offline player, 45
            </p>
            <p class="player-testimonials-text">
              I was hooked from the first merge. The farm improvements and Pa’s
              mansion-building quest are so much fun!
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-6-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-6-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-6.png    1x,
                  ./img/player-testimonials/player-testimonials-6-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-6.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Rafael L., game developer, 30
            </p>
            <p class="player-testimonials-text">
              The art style is clean, the 3D match is responsive, and the merge
              chain rewards feel earned. Great for short or long sessions
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-7-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-7-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-7.png    1x,
                  ./img/player-testimonials/player-testimonials-7-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-7.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Sienna M., teacher & gamer, 33
            </p>
            <p class="player-testimonials-text">
              It’s like a cozy book and a game combined. The levels are creative
              and always give something useful
            </p>
          </div>
        </li>
        <li class="player-testimonials-item swiper-slide">
          <div class="player-testimonials-item-wrapper">
            <picture>
              <source
                srcset="
                  ./img/player-testimonials/desktop/player-testimonials-8-desktop.png    1x,
                  ./img/player-testimonials/desktop/player-testimonials-8-desktop-x2.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />
              <source
                srcset="
                  ./img/player-testimonials/player-testimonials-8.png    1x,
                  ./img/player-testimonials/player-testimonials-8-x2.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
              />
              <img
                class="player-testimonials-image"
                src="/img/player-testimonials/player-testimonials-8.png"
                alt="image-game"
                width="119"
                height="165"
                loading="lazy"
              />
            </picture>
            <svg class="player-testimonials-svg" width="16" height="16">
              <use href="./img/sprite.svg#icon-discount-check"></use>
            </svg>
            <p class="player-testimonials-item-name">
              Tyler F., university student, 21
            </p>
            <p class="player-testimonials-text">
              This is now my go-to ‘brain break’ game. It’s funny, relaxing, and
              just enough strategy to keep it interesting
            </p>
          </div>
        </li>
      </ul>
      <div class="player-testimonials-swiper-pagination"></div>
      <div class="player-testimonials-swiper-navigation">
        <button
          class="player-testimonials-swiper-prev"
          aria-label="Previous slide"
          disabled
        >
          <div class="arrow-navigation">prev</div>
          <!-- <svg class="player-testimonials-svg" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-left"></use>
              </svg> -->
        </button>
        <button class="player-testimonials-swiper-next" aria-label="Next slide">
          <div class="arrow-navigation">next</div>
          <!-- <svg class="player-testimonials-svg" width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow-right"></use>
              </svg> -->
        </button>
      </div>
    </div>
  </div>
</section>
