.about-the-game-section {
  padding-top: 40px;
}

.about-the-game-wrapper {
  position: relative;
}

.about-the-game-gnom-image {
  position: absolute;

  bottom: 820px;
  right: 0;

  width: 48px;
  height: 71px;

  background-image: url(/img/about-the-game/about-the-game-gnom.png);
  background-repeat: no-repeat;
  background-size: 48px 71px;
}

.about-the-game-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  margin-bottom: 24px;
}

.about-the-game-sub-title {
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 16px;
}

.about-the-game-text {
  margin-bottom: 16px;
}

.about-the-game-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.about-the-game-item-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about-the-game-image {
  height: 193px;
}

.about-the-game-swip-wrapper.about-the-game-swiper-one {
  overflow: hidden;
}

.about-the-game-swiper-pagination {
  text-align: center;
}

.about-the-game-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--bg-color-second);
}

/* DESKTOP STYLES */

@media only screen and (min-width: 1200px) {
  .about-the-game-section {
    padding-top: 100px;
  }

  .about-the-game-gnom-image {
    position: absolute;

    bottom: 650px;
    right: -25px;

    width: 120px;
    height: 174px;

    background-image: url(/img/about-the-game/desktop/about-the-game-gnom-desktop.png);
    background-repeat: no-repeat;
    background-size: 100px 170px;
  }

  .about-the-game-title {
    font-size: 36px;
    line-height: 0.8;

    margin-bottom: 40px;
  }

  .about-the-game-sub-title {
    font-size: 24px;
    line-height: 1.5;
  }

  .about-the-game-text {
    font-size: 20px;
    line-height: 1.75;
    margin-bottom: 24px;
  }

  .about-the-game-list {
    gap: 16px;
    margin-bottom: 32px;
  }

  .about-the-game-item-text {
    font-size: 20px;
    line-height: 1.75;
  }

  .about-the-game-image {
    height: 269px;
  }

  /* SWIPER */

  .about-the-game-swiper-pagination {
    display: none;
    text-align: center;
  }

  .about-the-game-swip-wrapper.about-the-game-swiper-one {
    overflow: visible;
  }

  .about-the-game-item.swiper-slide {
    flex-shrink: unset;
    width: unset;
  }

  .about-the-game-list-image {
    gap: 20px;
    margin-bottom: 0;
  }
}
