:root {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-black-color: #0f0f0f;
  --text-light-color: #fdfdfd;

  --bg-color: #ffffff;
  --bg-color-second: #608c11;

  --button-color: #8e44ad;
  --button-bg-color: ##e5e5e5;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  /* min-width: 100vw; */
  min-width: 100%;
  min-height: 100vh;
  margin: 0;

  color: var(--text-black-color);
  background-color: var(--bg-color);
  /* background-color: #4f4f4f; */

  /* overflow: scroll; */
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
