.contacts-and-support-section {
  padding-bottom: 40px;
}

.contacts-and-support-container {
  background-image: url(/img/contacts-and-support/contacts-and-support.png),
    linear-gradient(180deg, #39ab0c 0%, #5abb06 47.62%);
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  background-size: 320px 402px, 1199px 402px;

  padding-bottom: 420px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .contacts-and-support-container {
    background-image: url(/img/contacts-and-support/contacts-and-support-x2.png),
      linear-gradient(180deg, #39ab0c 0%, #5abb06 47.62%);
  }
}

.contacts-and-support-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  margin-bottom: 24px;
}

.contacts-and-support-text {
  font-weight: 500;
  line-height: 1.88;

  margin-bottom: 16px;
}

.contacts-and-support-list-support {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 16px;
}

.contacts-and-support-item-wrapper {
  display: flex;
  align-items: center;

  gap: 8px;
}

.contacts-and-support-social-item-icon {
  fill: transparent;
  stroke: var(--text-dark-color);
}

.contacts-and-support-item-text.item-email-text {
  display: none;
}

.contacts-and-support-link,
.contacts-and-support-item-text {
  line-height: 1.88;
}

.contacts-and-support-link {
  transition: transform 300ms ease-in-out;
}
.contacts-and-support-link.hover,
.contacts-and-support-link:focus {
  transform: scale(0.95);
}
.contacts-and-support-link.active {
  transform: scale(0.9);
}

.contacts-and-support-social-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  margin-bottom: 16px;
}

.contacts-and-support-social-link-list {
  display: flex;
  gap: 16px;

  line-height: 0;
}

.contacts-and-support-social-link {
  display: block;

  transition: transform 300ms ease-in-out;

  width: 36px;
  height: 36px;
}
.contacts-and-support-social-link.hover,
.contacts-and-support-social-link:focus {
  transform: scale(0.95);
}
.contacts-and-support-social-link.active {
  transform: scale(0.9);
}

/* DESKTOP STYLES */

@media only screen and (min-width: 1200px) {
  .contacts-and-support-section {
    padding-bottom: 100px;
  }

  .contacts-and-support-container {
    background-image: linear-gradient(180deg, #39ab0c 0%, #5abb06 47.62%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 3000px 695px;

    padding-bottom: 0;

    color: var(--text-light-color);
  }

  .contacts-and-support-second-container {
    background-image: url(/img/contacts-and-support/desktop/contacts-and-support-desktop.png);

    background-repeat: no-repeat;
    background-size: 590px 695px;

    background-position-x: right;
    background-position-y: 62px;

    padding-bottom: 184px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .contacts-and-support-container {
      background-image: linear-gradient(180deg, #39ab0c 0%, #5abb06 47.62%);
    }
    .contacts-and-support-second-container {
      background-image: url(/img/contacts-and-support/desktop/contacts-and-support-desktop-x2.png);
    }
  }

  .contacts-and-support-title {
    font-size: 36px;
    line-height: 0.83;
    color: var(--text-dark-color);

    margin-bottom: 217px;
  }

  .contacts-and-support-text {
    width: 646px;
    font-size: 24px;
    line-height: 1.5;

    margin-bottom: 32px;
  }

  .contacts-and-support-list-support {
    gap: 24px;

    margin-bottom: 24px;
  }

  .contacts-and-support-br-support-hours {
    display: none;
  }

  .contacts-and-support-social-item-icon {
    fill: transparent;
    stroke: var(--text-light-color);
  }

  .contacts-and-support-item-text.item-email-text {
    display: block;
  }

  .contacts-and-support-link,
  .contacts-and-support-item-text {
    font-size: 20px;
    line-height: 1.75;
  }

  .contacts-and-support-social-text {
    font-size: 32px;
  }

  .contacts-and-support-social-link-icon {
    fill: var(--text-light-color);
  }
}
