.hero-section {
  background: var(--bg-hero-linear-gradient);

  padding: 72px 0 18px 0;
}

.hero-gnom-image {
  position: absolute;
  width: 27px;
  height: 40px;

  bottom: 940px;
  right: 8px;

  background-image: url(/img/hero/hero-gnom.png);
  background-repeat: no-repeat;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;

  background-image: url(/img/hero/iPhone-12-Pro.png),
    url(/img/hero/iPhone-12-Pro2.png);
  background-repeat: no-repeat;
  background-position: 16px 145px, 130px 178px;
  background-size: 175px 263px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(/img/hero/iPhone-12-Pro-x2.png),
      url(/img/hero/iPhone-12-Pro2-x2.png);
  }
}

.hero-main-title {
  font-weight: 500;
  line-height: 1.5;

  /* letter-spacing: 0.05em; */
  /* letter-spacing: 0.046em; */
  letter-spacing: 0.045em;
  /* letter-spacing: 0.04em; */
  /* letter-spacing: 0; */

  font-size: 32px;
  /* font-size: 31px; */

  margin-bottom: 319px;
}

.hero-google-play-link {
  order: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 288px; */
  min-height: 70px;

  gap: 12px;

  padding: 7px;

  margin-bottom: 24px;

  border-radius: 16px;
  border: 1px solid transparent;
  transition: border-color 300ms ease-in-out;

  background: var(--bg-btn-color);

  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);

  font-size: 18px;
  line-height: 1.5;
  color: var(--text-light-color);
}

.hero-google-play-link[data-hover],
.hero-google-play-link:focus {
  /* border-color: var(--border-btn-light-color-hover-focus); */

  border-color: var(--border-btn-dark-color-hover-focus);
}
.hero-google-play-link[data-active] {
  /* border-color: var(--border-btn-light-color-active); */

  border-color: var(--border-btn-dark-color-active);
}

.hero-link-img {
  display: block;
  height: 31px;
  min-width: 28px;
}

.hero-order-wrapper {
  order: 2;
}

.hero-sub-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 24px;
}

.hero-text {
  font-family: 'Montserrat', sans-serif;

  margin-bottom: 16px;

  line-height: 1.88;
}
.hero-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-item-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-icon-wrapper {
  display: flex;
  align-items: center;
}

.hero-item-text {
  font-family: 'Montserrat', sans-serif;

  line-height: 1.88;
}

@media only screen and (min-width: 1200px) {
  .hero-section {
    padding: 116px 0 69px 0;
  }

  .hero-gnom-image {
    width: 32px;
    height: 42px;

    bottom: 690px;
    right: 0;

    background-image: url(../img/hero/hero-gnom.png);
    background-repeat: no-repeat;
  }

  .hero-container {
    background-image: url(/img/hero/desktop/iPhone-12-Pro2-desktop.png),
      url(/img/hero/desktop/iPhone-12-Pro-desktop.png);
    background-repeat: no-repeat;
    background-position: 845px 60px, 640px -25px;
    background-size: 355px 525px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(/img/hero/desktop/iPhone-12-Pro2-desktop-x2.png),
        url(/img/hero/desktop/iPhone-12-Pro-desktop-x2.png);
    }
  }

  .hero-main-title {
    font-size: 64px;
    line-height: 1.17;

    width: 645px;
    margin-bottom: 46px;
  }

  .hero-google-play-link {
    order: 2;

    width: 593px;
    height: 76px;
    margin-left: auto;
    margin-right: auto;

    padding: 0 24px;

    margin-bottom: 0;

    font-size: 24px;
  }
  .hero-google-play-link-brake-line {
    display: none;
  }

  .hero-order-wrapper {
    order: 1;
  }

  .hero-sub-title {
    font-size: 36px;
    /* line-height: 0.8; */
    line-height: 0.83;
  }

  .hero-text {
    width: 645px;

    font-size: 24px;
    line-height: 1.25;

    margin-bottom: 32px;
  }

  .hero-list-wrapper {
    margin-bottom: 32px;
  }

  .hero-item-text {
    font-size: 24px;
    line-height: 1.25;
  }
}
