.level-progression-section {
  padding-bottom: calc(50px - 8px - 6.5px);
}

.level-progression-container {
  padding: 0;
}

.level-progression-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--text-dark-color);

  padding: 0 16px;
  margin-bottom: 24px;
}

.level-progression-sub-title {
  font-weight: 500;
  line-height: 1.88;
  color: var(--text-dark-color);

  padding: 0 16px;
  margin-bottom: 16px;
}

.level-progression-mobile-image {
  padding-bottom: calc(24px + 8px + 6.5px);
}

.level-progression-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--bg-color-second);
}

.level-progression-desktop-image {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .level-progression-section {
    padding-bottom: calc(50px - 29px);
  }

  .level-progression-title {
    font-size: 36px;
    line-height: 0.83;

    padding: 0 40px;

    margin-bottom: 40px;
  }

  .level-progression-sub-title {
    font-size: 24px;
    line-height: 1.5;

    padding: 0 40px;

    /* margin-bottom: 32px; */
    margin-bottom: 11px;
  }

  .level-progression-swiper {
    display: none !important;
  }

  .level-progression-desktop-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
