/* ========== Styles for opening modal ========== */

.modal-menu {
  position: fixed;

  z-index: 300;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: calc(47.5px + 12.5px);
  padding-bottom: 12.5px;

  background-color: var(--bg-color);

  pointer-events: none;

  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out;
}

.modal-menu.closed {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.modal-menu.opened {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

body[data-bodyMenu='opened'] {
  overflow: hidden;
  touch-action: none;
}

@media only screen and (min-width: 1200px) {
  .modal-menu {
    display: none;
  }
}

/* ========== Styles for opening modal ========== */

.modal-menu-container {
  height: 100%;
}
.modal-menu-nav {
  height: 100%;
}

.modal-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;

  height: 100%;
  overflow: auto;
}

/* Стилізація скролу */
.modal-menu-nav-list::-webkit-scrollbar {
  width: 8px;
}
.modal-menu-nav-list::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--scrollbar-track-color);
}
.modal-menu-nav-list::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 3px;
  /* border: 1px solid var(--scrollbar-thumb-color); */
}
.modal-menu-nav-list::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hover);
}

.modal-menu-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;

  /* padding-left: 8px; */
  /* padding-right: 8px; */
  padding-left: 7px;
  padding-right: 7px;

  border-radius: 16px;

  border: 1px solid transparent;
  transition: border-color 300ms ease-in-out;

  font-size: 20px;
  line-height: 1.75;

  /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  text-shadow: var(--text-shadow);
}

.modal-menu-nav-link.hover,
.modal-menu-nav-link:focus {
  /* transform: scale(0.95); */
  border-color: var(--border-btn-modal-menu-color-hover-focus);
}
.modal-menu-nav-link.active {
  /* transform: scale(0.9); */
  border-color: var(--border-btn-modal-menu-color-active);
}
